/* Basic reset for consistency across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full height for the body */
body {
  width: 100%;
  height: 100vh;
  background: url("/background.jpg") no-repeat center center/cover;
  font-family: Arial, sans-serif;
}

/* Main container */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

/* Navigation bar styles */
.navbar {
  width: 100%;
  background-color: rgba(38, 38, 38, 0.75);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 16px; /* Adjust for spacing between links */
}

.nav-link-button {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
}

.nav-link-button:hover {
  background-color: #ddd;
  color: black;
}

/* Main content styles */
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.main-title {
  font-size: 48px;
  background-color: #ffffff;
  color: #1a1a1a;
  padding: 20px;
  border-radius: 8px;
}

/* style.css */
.contact-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;

  background-position: center;
}

.contact-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* Change color and transparency as needed */
  z-index: 1;
}

.contact-title {
  position: relative; /* Needed for stacking context */
  z-index: 2;
  left: 20; /* Make sure these elements are above the pseudo-element */
}

/* Form Group Styling */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #f3eded;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  color: #000;
}

/* Textarea Specific Styling */
.form-textarea {
  height: 100px;
  resize: vertical;
}

/* Submit Button Styling */
.submit-button {
  display: inline-block;
  width: 30%;
  padding: 10px;
  background-color: #4caf50; /* Green color */
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1em;
}

.submit-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* HTML: <div class="loader"></div> */
.loader {
  display: inline-grid;
  width: 70px;
  aspect-ratio: 1;
  animation: l6-0 0.8s linear infinite;
  transform: rotate(90deg);
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
}
.loader:before {
  clip-path: polygon(
    100% 50%,
    90.45% 79.39%,
    65.45% 97.55%,
    34.55% 97.55%,
    9.55% 79.39%,
    0% 50%,
    9.55% 20.61%,
    34.55% 2.45%,
    65.45% 2.45%,
    90.45% 20.61%,
    100% 50%,
    85.6% 24.14%,
    63.6% 8.15%,
    36.4% 8.15%,
    14.4% 24.14%,
    6% 50%,
    14.4% 75.86%,
    36.4% 91.85%,
    63.6% 91.85%,
    85.6% 75.86%,
    94% 50%,
    85.6% 24.14%
  );
  background: #574951;
}
.loader:after {
  background: #83988e;
  clip-path: polygon(
    100% 50%,
    65.45% 97.55%,
    9.55% 79.39%,
    9.55% 20.61%,
    65.45% 2.45%
  );
  margin: 23%;
  translate: -143% 0;
  transform-origin: right;
  animation: inherit;
  animation-name: l6-1;
}
@keyframes l6-0 {
  0% {
    rotate: 18deg;
  }
  to {
    rotate: -18deg;
  }
}
@keyframes l6-1 {
  0% {
    rotate: -54deg;
  }
  to {
    rotate: 54deg;
  }
}
